In [ ]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",autocommit=True)

try:
  with con.cursor() as cur: 
    cur.execute("select * from student where bunho in (1,2,3)") 
    rows=cur.fetchall() 
    desc=cur.description
    print(f"{desc[0][0]:<4} {desc[1][0]:>10} {desc[2][0]:>13} {desc[3][0]:>11}")
    for row in rows:
      print(f"{row[0]:<4} {row[1]:>10} {row[2]:>10} {row[3]:>10}")
    print(f"쿼리에 영향을 미친 것은 {cur.rowcount} 개의 행")

finally:
  con.close()

bunho       name           kor         mat
2           김만덕         80         99
3           고려인        100         99
쿼리에 영향을 미친 것은 2 개의 행

In [ ]:
import pymysql
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",autocommit=True)

person=("typoon",100,100,100,"CH00000001")
try:
  with con.cursor() as cur: 
    cur.execute("""INSERT INTO student(name,kor,mat,eng,schoolcode)
    VALUES(%s,%s,%s,%s,%s)""", # 송수신은 문자열
        (person[0],person[1],person[2],person[3],person[4]))
    con.commit()
    if(cur.rowcount): # 영향을 미친 행이 있으면
      print("새로운 학생이 등록되었습니다.") 

finally:
  con.close()

새로운 학생이 등록되었습니다.

In [ ]:
# 문제 
# 김만덕 -> 오환각으로 update
import pymysql
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",autocommit=True)

try:
  with con.cursor() as cur:
    cur.execute("""update student set name='오환각' where name='김만덕'""")
    con.commit()
    if(cur.rowcount):
      print("업테이트 완료")

finally:
  con.close()

새로운 학생이 등록되었습니다.

In [ ]:
# 문제
# typoon을 삭제
import pymysql
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",autocommit=True)

try:
  with con.cursor() as cur:
    cur.execute("""delete from student where name='typoon'""")
    con.commit()
    if(cur.rowcount):
      print("삭제 완료")

finally:
  con.close()

삭제 완료

In [ ]:
# 수업내용

import pymysql
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",autocommit=True)
person=("전공인","오환각")
person_1=("typoon")

try:
  with con.cursor() as cur:
    cur.execute("""update student set name=%s where name=%s""",(person[1],person[0]))
    cur.execute("""delete from student where name=%s""",person_1)
    con.commit()
    if(cur.rowcount):
      print("수정 완료")

finally:
  con.close()

In [ ]:
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",cursorclass=pymysql.cursors.DictCursor,autocommit=True)

try:
  with con.cursor() as cur:
    cur.callproc('student_select')
    if(cur.rowcount):
      print(cur.fetchall())
    cur.callproc('student_select')
    if(cur.rowcount):
      data=cur.fetchall()
      for row in data:
        # print(row[0],row[1])
        print(row["bunho"],row["name"],row["kor"])

finally:
  con.close()

[{'bunho': 2, 'name': '오환각', 'kor': '80', 'mat': '99', 'eng': '60', 'total': 239, 'average': 79.67, 'grade': 'C', 'schoolcode': 'CH00000001'}, {'bunho': 3, 'name': '고려인', 'kor': '100', 'mat': '99', 'eng': '99', 'total': 298, 'average': 99.33, 'grade': 'A', 'schoolcode': 'CH00000001'}, {'bunho': 4, 'name': '오환각', 'kor': '100', 'mat': '81', 'eng': '100', 'total': 281, 'average': 93.67, 'grade': 'A', 'schoolcode': 'SE00000001'}, {'bunho': 5, 'name': '전공이', 'kor': '81', 'mat': '81', 'eng': '81', 'total': 243, 'average': 81.0, 'grade': 'B', 'schoolcode': 'SE00000001'}, {'bunho': 6, 'name': '전공삼', 'kor': '91', 'mat': '100', 'eng': '100', 'total': 291, 'average': 97.0, 'grade': 'A', 'schoolcode': 'CH00000001'}, {'bunho': 7, 'name': '전공사', 'kor': '100', 'mat': '100', 'eng': '100', 'total': 300, 'average': 100.0, 'grade': 'A', 'schoolcode': 'CH00000001'}, {'bunho': 8, 'name': '종로구', 'kor': '100', 'mat': '81', 'eng': '71', 'total': 252, 'average': 84.0, 'grade': 'B', 'schoolcode': 'IC00000001'}, {'bunho': 10, 'name': '만세야', 'kor': '80', 'mat': '80', 'eng': '80', 'total': 240, 'average': 80.0, 'grade': 'B', 'schoolcode': 'CH00000001'}, {'bunho': 12, 'name': '성식', 'kor': '98', 'mat': '97', 'eng': '96', 'total': 291, 'average': 97.0, 'grade': 'A', 'schoolcode': 'CH00000001'}]
2 오환각 80
3 고려인 100
4 오환각 100
5 전공이 81
6 전공삼 91
7 전공사 100
8 종로구 100
10 만세야 80
12 성식 98

In [ ]:
con = pymysql.connect(host='34.64.69.204', port=3306, user='root', passwd='acorn1234', db='sungjuk', charset='utf8', cursorclass=pymysql.cursors.DictCursor, autocommit=True)

data = ('미래융합교육원', 90, 80, 100, 'CH00000001', 0)

try:
  with con.cursor() as cur:
    cur.callproc('student_insert', data)
    cur.execute('SELECT @_student_insert_5')
    con.commit()
    result = cur.fetchone()
    print(result['@_student_insert_5']) # 0 성공
finally:
  con.close()

0

In [ ]:
conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="sungjuk",charset="utf8",
                    cursorclass=pymysql.cursors.DictCursor,
                    autocommit=True)

data=(2,"왕만덕",100,90,80,0)
try:
  with conn.cursor() as cur:
    cur.callproc("student_update",data)
    cur.execute("select @_student_update_5")
    conn.commit()
    result=cur.fetchone()
    print(result["@_student_update_5"])
    if result['@_student_update_5']==2:
      print("수정할 이름이 없습니다.")
    elif result['@_student_update_5']==-1:
      print("에러가 발생했습니다.")
    elif result['@_student_update_5']==0:
      print("수정에 성공했습니다.")
    else:
      print("알 수 없음")

finally:
  conn.close()

0
수정에 성공했습니다.

In [ ]:
# 문제
# "미래융합교육원"을 stored procedure call을 통해 삭제해보세요

con = pymysql.connect(host='34.64.69.204', port=3306, user='root', passwd='acorn1234', db='sungjuk', charset='utf8', cursorclass=pymysql.cursors.DictCursor, autocommit=True)
data=("미래융합교육원",0)
try:
  with con.cursor() as cur:
    cur.callproc("student_delete",data)
    cur.execute("select @_student_delete_1")
    con.commit()
    result=cur.fetchone()
    print(result["@_student_delete_1"])
    if result['@_student_delete_1']==2:
      print("삭제할 이름없음")
    elif result['@_student_delete_1']==-1:
      print("에러가 발생했습니다.")
    elif result['@_student_delete_1']==0:
      print("삭제완료")
    else:
      print("알 수 없음")

finally:
  con.close()

0
삭제완료

In [ ]:
# 문제
# mysql> select * from pet;

# id,name,owner,species,sex,birth,death
# 1,인천시,민주,cat,f,2001-02-04,NULL
# 2,대구시,자유,cat,f,2010-03-17,NULL
# 3,대전시,민주,dog,f,2010-05-16,NULL
# 4,광주시,민주,dog,m,2015-08-17,NULL
# 5,부산시,자유,dog,m,2017-08-31,2018-04-29

import pymysql
con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="pet",charset="utf8",autocommit=True)

try:
  with con.cursor() as cur: 
    cur.execute("select * from pet ") 
    rows=cur.fetchall() 
    desc=cur.description
    print(f"{desc[0][0]:<4} {desc[1][0]:>12} {desc[2][0]:>13} {desc[3][0]:>12} {desc[4][0]:>9} {desc[5][0]:>7} {desc[6][0]:>7}")
    for row in rows:
      print(f"{row[0]:<4} {row[1]:>10} {row[2]:>10} {row[3]:>10} {row[4]:>10} {row[5]} {row[6]}")
  
finally:
  con.close()

id           name         owner      species       sex   birth   death
1           인천시         민주        cat          f 2001-02-04 None
2           대구시         자유        cat          f 2010-03-17 None
3           대전시         민주        dog          f 2010-05-13 None
4           광주시         민주        dog          m 2015-08-27 None
5           부산시         자유        dog          m 2017-08-31 2018-04-29

In [ ]:
conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",
                    cursorclass=pymysql.cursors.DictCursor,
                    autocommit=True)
cur=conn.cursor()

cur.execute("""CREATE TABLE `pet` (
	`id` INT(10) NOT NULL AUTO_INCREMENT,
	`name` VARCHAR(20) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci',
	`owner` VARCHAR(20) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci',
	`species` VARCHAR(20) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci',
	`sex` CHAR(1) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci',
	`birth` DATE NULL DEFAULT NULL,
	`death` DATE NULL DEFAULT NULL,
	PRIMARY KEY (`id`) USING BTREE
)
COLLATE='utf8mb4_general_ci'
ENGINE=InnoDB
AUTO_INCREMENT=6
; """)
print(cur.description)
conn.close()

0

In [ ]:
conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",
                    cursorclass=pymysql.cursors.DictCursor,
                    autocommit=True)

cur=conn.cursor()
sql="""insert into pet (name,owner,species,sex,birth,death)
    values (%s,%s,%s,%s,%s,%s)"""
# cur.execute(sql,('인천시','민주','cat','f','2001-02-04',None))
# cur.execute(sql,('대구시','자유','cat','f','2010-03-17',None))
# cur.execute(sql,('대전시','민주','cat','f','2010-05-13',None))
# cur.execute(sql,('광주시','민주','cat','m','2015-08-27',None))
# cur.execute(sql,('부산시','자유','cat','m','2017-08-31','2018-04-29'))
# conn.commit()

petlist=[('인천시','민주','cat','f','2001-02-04',None),
         ('대구시','자유','cat','f','2010-03-17',None),
         ('대전시','민주','cat','f','2010-05-13',None),
         ('광주시','민주','cat','m','2015-08-27',None),
         ('부산시','자유','cat','m','2017-08-31','2018-04-29')]
cur.executemany(sql,petlist)
conn.commit()
print(cur.description)
print(cur.rowcount)
conn.close()

None
5

In [ ]:
conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",
                    cursorclass=pymysql.cursors.DictCursor,
                    autocommit=True)
cursor=conn.cursor()
cursor.execute('select * from pet')
print(cursor.rowcount)
cursor.fetchone()
cursor.fetchone()
cursor.fetchone()
cursor.scroll(0,mode='absolute')
recs=cursor.fetchmany(2)
for rec in recs:
  print(rec)
recs=cursor.fetchall() # 커서가 마지막을 가리키고 있기 때문에 결과가 없음
for rec in recs:
  print("데이터가 있으면 찍힘")
  print(rec)
cursor.close()
conn.close()

15
{'id': 1, 'name': '인천시', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}
{'id': 2, 'name': '대구시', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
데이터가 있으면 찍힘
{'id': 3, 'name': '대전시', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}
데이터가 있으면 찍힘
{'id': 4, 'name': '광주시', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}
데이터가 있으면 찍힘
{'id': 5, 'name': '부산시', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}
데이터가 있으면 찍힘
{'id': 6, 'name': '인천시', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}
데이터가 있으면 찍힘
{'id': 7, 'name': '대구시', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
데이터가 있으면 찍힘
{'id': 8, 'name': '대전시', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}
데이터가 있으면 찍힘
{'id': 9, 'name': '광주시', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}
데이터가 있으면 찍힘
{'id': 10, 'name': '부산시', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}
데이터가 있으면 찍힘
{'id': 11, 'name': '인천시', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}
데이터가 있으면 찍힘
{'id': 12, 'name': '대구시', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
데이터가 있으면 찍힘
{'id': 13, 'name': '대전시', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}
데이터가 있으면 찍힘
{'id': 14, 'name': '광주시', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}
데이터가 있으면 찍힘
{'id': 15, 'name': '부산시', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}

In [ ]:
# 내가한거
# 문제
# 모든 pet을 가져오는 procedure를 만들고 callproc로 데이터를 출력하시오

con=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",cursorclass=pymysql.cursors.DictCursor,autocommit=True)

try:
  with con.cursor() as cur:
    cur.callproc('pet_select')
    if(cur.rowcount):
      data=cur.fetchall()
      for row in data:
        # print(row[0],row[1])
        print(row["id"],row["name"],row["owner"],row["species"],row["sex"],row["birth"],row["death"])

finally:
  con.close()

1 인천시 민주 cat f 2001-02-04 None
2 대구시 자유 cat f 2010-03-17 None
3 대전시 민주 cat f 2010-05-13 None
4 광주시 민주 cat m 2015-08-27 None
5 부산시 자유 cat m 2017-08-31 2018-04-29
6 인천시 민주 cat f 2001-02-04 None
7 대구시 자유 cat f 2010-03-17 None
8 대전시 민주 cat f 2010-05-13 None
9 광주시 민주 cat m 2015-08-27 None
10 부산시 자유 cat m 2017-08-31 2018-04-29
11 인천시 민주 cat f 2001-02-04 None
12 대구시 자유 cat f 2010-03-17 None
13 대전시 민주 cat f 2010-05-13 None
14 광주시 민주 cat m 2015-08-27 None
15 부산시 자유 cat m 2017-08-31 2018-04-29

In [ ]:
# 수업내용
conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",cursorclass=pymysql.cursors.DictCursor,autocommit=True)
try:
  cursor=conn.cursor()
  cursor.callproc('pet_all')
  cur=cursor.fetchall() # stored procedure에서 select하는 것은 모두 결합되어 리턴
  for row in cur:
    print("ID=%s, name=%s" % (row["id"],row["name"]))
  cursor.nextset()
  for row in cur:
    print("ID=%s, name=%s" % (row["id"],row["name"]))
finally:
  cursor.close()
  conn.close()

ID=1, name=인천시
ID=2, name=대구시
ID=3, name=대전시
ID=4, name=광주시
ID=5, name=부산시
ID=1, name=인천시
ID=2, name=대구시
ID=3, name=대전시
ID=4, name=광주시
ID=5, name=부산시

In [ ]:
conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",cursorclass=pymysql.cursors.DictCursor,autocommit=True)
# 쿼리문으로 다음을 각각 실행


try:
  with conn.cursor() as cur: 
    # 생일이 2015-01-01 이후인 pet을 출력
    cur.execute("""select * from pet where birth>'2015-01-01'""")

    # species='cat'이고 여성만 출력 
    cur.execute("select * from pet where species='cat' and sex='f'")

    # 이름과 생일을 생일로 정렬해서 출력
    cur.execute("select name,birth from pet order by birth")
    
    # 사망 일이 null인 것만 출력
    cur.execute("select name,birth from pet where death is NULL")
    rows=cur.fetchall() 
    print(type(rows))
    desc=cur.description
    for pets in list(rows): # [{},{},{}]
      pet= list(pets.values()) # keys + values 의 결합
      print(pet)
      # print("ID=%d,name=%s,주인=%s"%(pet[0],pet[1],pet[2]))

finally:
  conn.close()

<class 'list'>
['인천시', datetime.date(2001, 2, 4)]
['대구시', datetime.date(2010, 3, 17)]
['대전시', datetime.date(2010, 5, 13)]
['광주시', datetime.date(2015, 8, 27)]

In [ ]:
# 이름이 대구시인 것을 부산시로 변경

conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",cursorclass=pymysql.cursors.DictCursor,autocommit=True)
try:
  cursor=conn.cursor()
  sql='update pet set name=%s where name=%s'
  cursor.execute(sql,('대구시','부산시'))
  conn.commit()
  print("실행완료")
  print(cursor.rowcount)
  cursor.description
finally:
  cursor.close()
  conn.close()

실행완료
1

In [ ]:
# class에 데이터를 입력
# trigger를 이용한 합계, 평균, 학점을 자동으로 입력하도록 stored procedure를 작성

# class를 설계하시오
  # 1인분을 저장
  # 입력,계산(합계,평균),학점,출력(__repr__) 
# 리스트에 입력(데이터베이스와 리스트에 있는 내용이 일치해야함)
  # mariadb 연결
  # selectdb, inserdb(), updatedb(), deletedb()
  # CRUD를 실행해서 class list와 일치되게 관리
  # list CRUD == DB CRUD 연결
  # 프로그램이 종료하더라도 데이터베이스에는 데이터가 남아 있어야한다.
# Management class
  # 메뉴에 따라서 CRUD가 직접 실행

# 메뉴(함수,class)

In [ ]:
import pymysql
class Student:
  def __init__(self):
    self.bunho=0;
    self.name=''
    self.kor=0
    self.mat=0
    self.eng=0
    self.total=0
    self.average=0
    self.grade=''
  def inputData(self):
    print("학생 데이터를 입력하세요")
    self.name=input("이름을 입력하세요: ")
    self.kor=eval(input("국어점수: "))
    self.mat=eval(input("수학점수: "))
    self.eng=eval(input("영어점수: "))
    self.calc_total_average()


  def calc_total_average(self):
    self.total=self.kor+self.mat+self.eng
    self.average=round(self.total/3,2)
    self.calcSemGrade()
  
  def calcSemGrade(self):
    if self.average>=90: self.grade="A"
    elif self.average>=80: self.grade="B"
    elif self.average>=70: self.grade= "C"
    elif self.average>=60: self.grade= "D"
    else: self.grade= "F"

  def __repr__(self):
    return "%5s %5s %6s %6s %6s %7s %7s %s" % (self.bunho,self.name,self.kor,self.mat,self.eng,self.total,self.average,self.grade)

In [ ]:
class maria:
  schoolname="대전융합교육원"
  def __init__(self):
    self.conn=pymysql.connect(host="34.64.69.204",port=3306,user="root",passwd="acorn1234",
                    db="zoo",charset="utf8",
                    # cursorclass=pymysql.cursors.DictCursor,
                    autocommit=True)
    cor=self.conn.cursor()
    cor.execute("show tables")
    tables=cor.fetchall()
    c=[]
    for i in tables:
      if i ==("sungjuk",):
        c.append(i)
#     if len(c) !=0:
#       sungjuk_table="select * from sungjuk"
#       cor.execute(sungjuk_table)
#       print("테이블이 있습니다.")
#     else:
#       cor.execute("""CREATE TABLE `sungjuk` (
# 	`name` VARCHAR(20) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci',
# 	`kor` INT(11) NULL DEFAULT NULL,
# 	`mat` INT(11) NULL DEFAULT NULL,
# 	`eng` INT(11) NULL DEFAULT NULL,
# 	`total` INT(11) NULL DEFAULT NULL,
# 	`average` FLOAT NULL DEFAULT NULL,
# 	`grade` CHAR(1) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci'
# )
# COLLATE='utf8mb4_general_ci'
# ENGINE=InnoDB
# ;
# """)
  def __del__(self):
    self.conn.close()
  def selectdb(self):
    cur=self.conn.cursor()
    cur.callproc("sungjuk_select")
    if cur.rowcount:
      std=list(cur.fetchall())
    else:
      std=0
    cur.close()
    return std
  def insertdb(self,name,kor,mat,eng,result):
    cur=self.conn.cursor()
    # cur.callproc()
    arg=(name,kor,mat,eng,result)
    cur.callproc("sungjuk_insert",arg)
    cur.close()
  def updatedb(self,in_name,up_name,result):
    cur= self.conn.cursor()
    arg=(in_name,up_name,result)
    cur.callproc("sungjuk_update",arg)
    cur.close()
  def deletedb(self,in_name,result):
    cur=self.conn.cursor()
    arg=(in_name,result)
    cur.callproc("sungjuk_delete",arg)
    cur.close()

In [1]:
from math import *
class Management:
  def __init__(self):
    self.maria=maria()
  def M_select(self):
    data=self.maria.selectdb()
    st=[]
    if(data):
      for student in data:
        stp= Student()
        stp.bunho=student[0]
        stp.name=student[1]
        stp.kor=student[2]
        stp.mat=student[3]
        stp.eng=student[4]
        stp.calc_total_average()
        st.append(stp)
      print(self.maria.schoolname+ "성적 계산표")
      print("%4s %4s %4s %4s %4s %4s %4s %4s" % ('번호','이름','국어','수학','영어','합계','평균','학점'))
      for stud in st:
        print('%12s' % stud)
    else:
      print("데이터가 없습니다.")

  def M_insert(self):
    stu=Student()
    stu.inputData()
    self.maria.insertdb(stu.name,stu.kor,stu.mat,stu.eng,0)
  def M_update(self):
    name=input("검색할 이름을 입력하세요")
    replace_name=input("수정할 이름을 입력하세요")
    result=self.maria.updatedb(name,replace_name,0)
  def M_delete(self):
    name=input("삭제할 이름을 입력하세요")
    self.maria.deletedb(name,0)

In [2]:
import sys
class Menu():
  def __init__(self):
    self.manage=Management()
  def work(self):
    menu=["전체검색(1) 입력(2) 수정(3) 삭제(4) 종료(9)"]
    while(1):
      sel=input(menu)
      if sel=="1":
        self.manage.M_select()
        continue
      elif sel=="2":
        self.manage.M_insert()
      elif sel=="3":
        self.manage.M_update()
      elif sel=="4":
        self.manage.M_delete()
      elif sel=="9":
        sys.exit()
      else:
        print("잘못된 입력입니다. 다시 입력하세요")
        continue
menu=Menu()
menu.work()

NameError: ignored

# 성식씨는 지훈씨를 존경한다
- 성식씨는 약하다
- 지훈씨는 강하다